<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css"></link>
</head>
<body>
  <div th:fragment="navbar">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" th:href="@{/}">Dice Server</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/uploadForm}">Upload</a></li>
          <li><a th:href="@{/help}">Help and Documentation</a></li>
          <li><a th:href="@{#}">Contact</a></li>
          <li><a th:href="@{/getBatch}">Get Batch</a></li>
          <li><a th:href="@{/cart}">Cart</a></li>
        </ul>
      </div>
    </nav>
  </div>
</body>
</html>