<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar :: head">
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_tD7nrERdypFuqGQZKcjhSuMk');
      $(document).ready(function() {
        $("body").mousemove(function(event) {
          document.getElementById("coordinates").innerHTML = "Your mouse is at: (" + event.pageX + "," + event.pageY + ")";
        });
      });
    </script>
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <div th:replace="fragments/navbar :: navbar"></div>
  <ul th:each="job : ${cart.jobs}">
    <li>
      <p th:text="${job.id}+' - ' + 'Quantity: ' + ${job.quantity} + ' - cost: $' + ${job.cost}"><a th:href="'/viewDie/'+${job.die.id}">View Die</a></p><img th:src="'/dieJob/'+${job.id}+'/map'" th:href="'/dieJob/'+${job.id}+'/map'" th:alt="${job.id}"
      height="100" width="75" />
      
      <a th:href="'/dieOrder/'+${cart.id}+'/removeJob/'+${job.id}">Remove from cart</a>
    </li>
  </ul>
  <p th:text="'Total Cost: $'+ ${cart.getCost()}">
    <b></b>
  </p>
  <form action="/pay" method="POST">
    <input type="hidden" name="dieOrderId" th:value="${cart.id}" />
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_tD7nrERdypFuqGQZKcjhSuMk" th:data-amount="${cart.getCost()}" data-name="Dice Server"
      th:data-description="'Dice Order #'+${cart.id}" data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-zip-code="true" data-billing-address="true"
      data-shipping-address="true" data-locale="auto">
          
        </script>
  </form>
</body>
</html>
