<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar :: head">
</head>
<body>
  <div th:replace="fragments/navbar :: navbar"></div>
  <form method="POST" enctype="multipart/form-data" th:action="@{/Upload}">
    <div class="form-group">
      <label for="file">Upload Modified Die Template:</label> <input type="file" class="form-control" id="file" name="file" accept="image/*" /> <small id="emailHelp" class="form-text text-muted">File
        is recommended to be based from the provided <a href="/template.png">template</a>, in the form of a PNG. See <a href="/help">help</a> for details on acceptable uploads.
      </small>
    </div>
    <button type="submit" class="btn btn-default" value="/">Submit</button>
  </form>
</body>
</html>
